body {
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 50%;
    flex-wrap: nowrap;
    align-items: center;
    margin-inline: auto;
    border-radius: 10px;
    height: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.userImage{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
.userContent{
  list-style: none;
  width: 90%;
}

.userData {
  flex: 1;
}

.userContent .userList{
  border: 1px solid gray;
    border-radius: 16px;
    padding: 10px;
    gap: 16px;
    margin-bottom: 10px;
}

.userContent .userName{
  padding: 5px;
    font-size: 20px;
    font-weight: bold;
}